<div class="teamPage">
  <div class="teamName row">
    <div class="teamLogo col-2">
      <img src="../../../assets/atLogo.png" alt="AlphaTauri logo" />
    </div>
    <div class="name col-9">
      <h1>Scuderia AlphaTauri RB</h1>
    </div>
  </div>
  <div class="mainTeam">
    <div class="team_det">
      <h3>Team</h3>
      <p>Meet the team.</p>
      <div class="teamPrincipal">
        <h4>Team Principal</h4>
        <div class="team_img">
          <img src="../../../assets/Laurent.jpg" alt="Laurent Mekies" />
        </div>
        <p>Laurent Mekies</p>
      </div>
      <div class="teamDrivers row">
        <h4>Drivers</h4>
        <div class="dr1 col">
          <div class="team_img dr1_img">
            <img src="../../../assets/f1_2023_yt_alp_lg.png" alt="yuki" />
          </div>
          <p>Yuki Tsunoda</p>
        </div>
        <div class="dr2 col">
          <div class="team_img dr2_img">
            <img
              src="../../../assets/F1-2023-Daniel-Ricciardo-AlphaTauri-lg.png"
              alt="Ric"
            />
          </div>
          <p>Daniel Ricciardo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="backgroundInfo">
    <div class="info">
      <h3>Background Information</h3>
      <h5>
        The AlphaTauri team's origins date back to Minardi, who competed in
        Formula 1 from 1985 to 2005. Although they had a large fan base, the
        Italian outfit never finished on the podium and only secured fourth
        place on three occasions.Owner Paul Stoddart asked any potential buyers
        to maintain Minardi's traditional base in Italy, with Red Bull GmbH
        agreeing to keep the squad's headquarters in Faenza until at least 2007.
      </h5>
      <p>
        Vitantonio Liuzzi and Scott Speed were Toro Rosso's first drivers in
        2006, with Neel Jani the test/third driver. The 2006 chassis, the STR1,
        was a modified version of Red Bull's car from the previous season.
      </p>
      <p>
        The team finally switched to 2006-spec Ferrari V8 engines the following
        year, taking over the contract that Red Bull broke with the Scuderia in
        favour of Renault power. Liuzzi and Speed were brought back for a second
        season, with Sebastien Bourdais became the test driver. Much like in
        2006, Toro Rosso had a difficult time for much of the year due to driver
        errors and reliability woes.
      </p>
      <p>
        Having failed to score a point up to that point in the season, Speed was
        dropped after the European Grand Prix. The American was replaced by BMW
        Sauber development driver Sebastian Vettel, and results improved before
        the end of the season, with the German finishing fourth and Liuzzi six
        at the Chinese Grand Prix. This marked Toro Rosso's best result up to
        that point.
      </p>
      <p>
        Vettel and Bourdais drove for the team in 2008, with the latter scoring
        his first points with a seventh-place in Australia. Vettel finished
        fifth in Monaco as the team improved over the course of the year, and
        both cars ran in the top six for much of the Belgian Grand Prix. Despite
        running as high as third and fourth on the final lap, Vettel and
        Bourdais eventually finished fifth and seventh respectively.
      </p>
      <p>
        Nothing compared to the shock that Toro Rosso pulled off at the wet
        Italian Grand Prix. Vettel claimed pole position before taking his and
        the team's debut victory ahead of Heikki Kovalainen and Robert Kubica.
        It was the first win for an Italian-based team other than Ferrari since
        the 1957 German Grand Prix. It was also the first and only win so far
        for a Ferrari engine in a customer chassis.
      </p>
      <p>
        Vettel ended the year scoring 35 of the team's 39 points, helping Toro
        Rosso to outscore the senior Red Bull team for the first and only time
        in their history. The German's efforts also helped him earn a call up to
        Red Bull for the 2009 season.
      </p>
      <p>
        Team principal Franz Tost stated before the year began that it would be
        tough for the team to replicate their 2008 form, and that proved to be
        the case. Bourdais was let go in July due to disappointing results, and
        Jaime Alguersuari was brought in as his replacement. Toro Rosso ended
        the year 10th in the Constructors' Championship with just eight points,
        having been overtaken by Force India thanks to their podium finish in
        Belgium.
      </p>
      <p>
        Prior to the 2013 Italian Grand Prix, Red Bull announced that Ricciardo
        would replace Mark Webber at the main outfit in 2014. Daniil Kvyat was
        brought in as his replacement, while Toro Rosso also made the switch to
        Renault power after signing a long-term deal with the French
        manufacturer.In the end, though, Carlos Sainz was chosen to partner
        Verstappen, while Toro Rosso ended the season in seventh with 30 points.
        The young line-up proved to be a success, with Sainz scoring points on
        his debut while Verstappen retired with an engine failure. The Dutchman
        secured two fourth-place finishes in Hungary and the United States, and
        Toro Rosso finished the year with 67 points, their most successful F1
        season in terms of points. Verstappen scored 49 of those points compared
        to Sainz's 18.
      </p>
      <p>
        Toro Rosso were rebranded as Scuderia AlphaTauri ahead of the 2020 F1
        season, in order to promote Red Bull's fashion label of the same
        name.Kvyat and Gasly made up the team's driver line-up, and Gasly scored
        points at the season-opening Austrian Grand Prix. The newly-named outfit
        secured their first podium and win at the Italian Grand Prix, with Gasly
        claiming a debut career victory ahead of Sainz and Lance Stroll,
        becoming the first French driver to win since Olivier Panis at the 1996
        Monaco Grand Prix.
      </p>
    </div>
  </div>
  <div class="stats">
    <div class="statTable">
      <h3>Statistics</h3>
      <h5>Statistics about the team</h5>
      <div class="row champ">
        <div class="col">Total Constructors Championships</div>
        <div class="col">
          <span>0</span
          ><span
            ><img
              src="../../../assets/down-arrow-svgrepo-com.svg"
              alt="more info"
              (click)="openCInfo()"
          /></span>
          <div class="CInfoBox" [class.visib]="isvisib_C">
            <p>-</p>
          </div>
        </div>
      </div>
      <div class="row driverchamps">
        <div class="col">Total Drivers Championships</div>
        <div class="col DInfo">
          <span>0</span
          ><span
            ><img
              src="../../../assets/down-arrow-svgrepo-com.svg"
              alt="more info"
              (click)="openDInfo()"
          /></span>
          <div class="DInfoBox" [class.visib]="isvisib_D">
            <p>-</p>
          </div>
        </div>
      </div>
      <div class="row wins">
        <div class="col">Total Race Wins</div>
        <div class="col">2</div>
      </div>
      <div class="row founded">
        <div class="col">Team Founded</div>
        <div class="col">1985</div>
      </div>
      <div class="row PrevTeam">
        <div class="col">Previously Known As</div>
        <div class="col">Scuderia Toro Rosso (2006-2019)</div>
      </div>
    </div>
  </div>
  <div class="reachout">
    <div class="reachoutLinks">
      <div class="reachTitle RO">
        <h3>Reach out to Alpha Tauri</h3>
      </div>
      <div class="links RO">
        <a href="https://www.instagram.com/alphataurif1/" target="_blank"
          ><img src="../../../assets/instagram-1-svgrepo-com.svg" alt="insta"
        /></a>
        <a href="https://twitter.com/AlphaTauriF1" target="_blank"
          ><img
            src="../../../assets/twitter-color-svgrepo-com.svg"
            alt="twitter"
        /></a>
        <a href="https://www.facebook.com/alphataurif1/" target="_blank"
          ><img src="../../../assets/facebook-color-svgrepo-com.svg" alt="fb"
        /></a>
        <a href="https://scuderia.alphatauri.com/en/" target="_blank"
          ><img
            src="../../../assets/AlphaTaurilogo.png"
            alt="website"
            class="cavalino"
        /></a>
      </div>
    </div>
  </div>
</div>
