<div class="rumourBody">
  <div class="rumours">
    <h2>Prominent rumours in Formula 1</h2>
    <div class="rumourCards row">
      <div class="rumourCardBlock col-lg-6">
        <h4 class="cardTitle">Newey's future</h4>
        <h5>Newey joins Aston Martin/ Mclaren?</h5>
        <p>
          As of mid-2024, rumors are circulating about Adrian Newey, the
          renowned chief technical officer at Red Bull Racing, potentially
          moving to another Formula 1 team. Newey, celebrated for his innovative
          designs and pivotal role in Red Bull's recent successes, is rumored to
          be in discussions with several top teams. Speculation suggests that
          his next destination could be one of the leading teams looking to
          leverage his expertise to boost their performance. Reports indicate
          that Mclaren and Aston Martin are among the teams interested in Newey,
          aiming to capitalize on his engineering prowess to gain a competitive
          edge. The rumors have been fueled by various sources, including
          reports from motorsport news outlets and insider information shared
          within the F1 community.
        </p>
      </div>
      <div class="rumourCardBlock col-lg-6">
        <h4 class="cardTitle">Audi/ Sauber's open seat</h4>
        <h5>Bottas signed for Audi?</h5>
        <p>
          As of mid-2024, Audi's second seat in Formula 1 remains one of the
          most talked-about topics in the paddock. With the German automotive
          giant making its debut in the sport, the focus has shifted to filling
          the second seat alongside the confirmed driver, who is expected to
          bring significant attention to the team. As of recent instagram post
          by Bottas showing an Audi R8 with his racing number, he migh have
          signed for the remaining seat alongside Nico Hulkenberg
        </p>
      </div>
      <div class="rumourCardBlock col-lg-6">
        <h4 class="cardTitle">Kimi Antonelli lined up for Mercedes seat</h4>
        <h5>Has Kimi signed for 2025 already?</h5>
        <p>
          Recent rumours have surfaced that Kimi Antonelli has already signed
          for Mercedes F1 team for the 2025 season alongside George Russell. The
          team feels they can replicate the success of Oscar Piastri and Mclaren
          with Kimi very soon. Rumours also talk about Mercedes being in talks
          to sign Max Verstappen for 2026 season, when major engine regulations
          are supposed to come into effect which looks to benefit Mercedes
          heavily.
        </p>
      </div>
      <div class="rumourCardBlock col-lg-6">
        <h4 class="cardTitle">Is Alpine/Renault engine program dead?</h4>
        <H5>Has Alpine signed up to become Mercedes customer team?</H5>
        <p>
          Rumours in the paddock suggest that the management of Alpine F1 team
          are planning to shut down their engine program in favour of becoming a
          customer team of Mercedes engine program. They would join Mclaren and
          Williams as the customers, with Aston Martin moving to partner with
          Honda. Alpine motorsport division say that the resources tied up in
          the engine program will be restructured and utilised for its
          development program for World Endurance Championship efforts
        </p>
      </div>
    </div>
  </div>
</div>
