.rumourBody{
    padding-top:150px;
    .rumours{
        padding: 50px 150px;
    }
    .rumourCards{
        padding: 50px 50px;
        .rumourCardBlock{
            padding: 10px 40px;
        }
    }
}