<div class="teamPage">
  <div class="teamName row">
    <div class="teamLogo col-2">
      <img src="../../../assets/alpinelogo - Copy.jpg" alt="mcl logo" />
    </div>
    <div class="name col-9">
      <h1>BWT Alpine F1 Team</h1>
    </div>
  </div>
  <div class="mainTeam">
    <div class="team_det">
      <h3>Team</h3>
      <p>Meet the team.</p>
      <div class="teamPrincipal">
        <h4>Team Principal</h4>
        <div class="team_img">
          <img src="../../../assets/AlpineTP.jpg" alt="Bruno Famino" />
        </div>
        <p>Bruno Famino</p>
      </div>
      <div class="teamDrivers row">
        <h4>Drivers</h4>
        <div class="dr1 col">
          <div class="team_img dr1_img">
            <img src="../../../assets/f1_2023_eo_apn_lg.png" alt="Ocon" />
          </div>
          <p>Esteban Ocon</p>
        </div>
        <div class="dr2 col">
          <div class="team_img dr2_img">
            <img src="../../../assets/f1_2023_pg_apn_lg.png" alt="Gasly" />
          </div>
          <p>Piere Gasly</p>
        </div>
      </div>
    </div>
  </div>
  <div class="backgroundInfo">
    <div class="info">
      <h3>Background Information</h3>
      <h5>
        Renault's first involvement in Formula 1 dates back to the 1977 season.
        The team competed in the final rounds of the campaign, with Jean-Pierre
        Jabouille driving the Renault RS01 that featured the first
        regularly-used turbo engine in F1 history, the Renault-Gordini V6 1.5 L.
      </h5>
      <p>
        Prost and Arnoux took four wins in the 1982 season, with the former
        finishing fourth in the standings - 10 points behind World Champion Keke
        Rosberg - while Renault finished third. Arnoux left for Ferrari in 1983,
        but Prost remained and had his best season to date, winning four races
        while battling with Brabham's Nelson Piquet for the World Championship.
      </p>
      <p>
        Unfortunately, financial problems hit the team as Renault could no
        longer justify the large fees needed to operate. As a result, CEO
        Georges Besse scaled down the company's Formula 1 involvement from full
        team to just engine supplier for the 1986 season, and then went entirely
        out of F1 at the end of the year.
      </p>
      <p>
        Renault purchased Benetton Formula Limited for $120 million in March
        2000, marking the French manufacturer's return to the F1 grid. Benetton
        started as Toleman Motorsport in 1981 before being bought and renamed by
        Benetton Formula in 1986, having being purchased by the Benetton family.
        The team moved to Enstone from Witney, Oxfordshire in 1992/93.
      </p>
      <p>
        Giancarlo Fisichella took over as Alonso's teammate in 2005, winning the
        opening race of the season in Australia after rain affected the
        qualifying session. However, it was the Alonso who really triumphed
        during the year, winning the following three races. Although Kimi
        Raikkonen and McLaren battled back against reliability woes to make the
        championship battle interesting, Alonso secured the Drivers'
        Championship in Brazil. Renault clinched the Constructors' title at the
        following race in China, ending Ferrari's winning run of six years. It
        was also the first time that Renault had won the title as a
        manufacturer, along with them being the second French constructor after
        Matra in 1969 to take top spot.
      </p>
      <p>
        Both drivers returned for the 2006 season, with Alonso winning the
        season-opening Bahrain Grand Prix. He also claimed victory in Australia,
        while coming home second in Malaysia behind Fisichella for Renault's
        first 1-2 finish since Arnoux and Prost in 1982. Alonso took four
        consecutive wins midway through the season to hold a healthy lead in the
        standings. However, Ferrari and Michael Schumacher answered back with
        three straight victories. Both drivers entered the final two races level
        on points, but it was Alonso who came out on top after taking the
        chequered flag in Japan, while Schumacher retired with an engine
        failure. The Spaniard then clinched the title with a second-place finish
        in Brazil, a result that also helped Renault to clinch the Constructors'
        Championship.
      </p>
      <p>
        Fisichella remained at Renault in 2007 whilst Alonso left for McLaren,
        with Heikki Kovalainen stepping in for the Spaniard. The team failed to
        hit the heights of the previous two years, despite finishing the season
        third in the standings. Renault's best result came near the end of the
        campaign when Kovalainen finished the Japanese Grand Prix in second
        spot, marking their only podium of the year. At the end of 2007, the FIA
        accused Renault of possessing confidential information relating to
        McLaren's cars, and they were charged with breaching article 151 (c) of
        the Sporting Regulations. Those charges were the same faced by McLaren
        earlier in the year regarding the Spygate scandal. Renault were not
        penalised over the matter.
      </p>
      <p>
        Renault announced that a takeover transaction was being discussed for
        the Lotus F1 Team ahead of the 2016 season. The R.S.16 was driven by
        Kevin Magnussen and Jolyon Palmer, with Esteban Ocon serving as reserve
        driver, and the team ended the year in ninth place with eight points.
        Frederic Vasseur left his post as Team Principal at the conclusion of
        the season following disagreements with team personnel, and Cyril
        Abiteboul became Managing Director.
      </p>
      <p>
        In September 2020, Groupe Renault announced that their works team's new
        name for 2021 would be Alpine, in an attempt to promote the Alpine
        marque.
      </p>
      <p>
        Ocon and Alonso continued with the team for 2022, with Ocon continuing
        on a multi-year contract with the team, and Alonso still looking to
        remain in the sport for as long as possible. Ahead of the 2022 season,
        Alpine underwent personnel changes, with Alain Prost departing from his
        role of Non-Executive Director, and Marcin Budkowski will leaving his
        position of Executive Director.Alpine eventually secured P4, and their
        best result came at the Japanese GP, where Ocon and Alonso finished
        fourth and seventh, with the latter enjoying a fantastic last-lap duel
        with the retiring Vettel.
      </p>
    </div>
  </div>
  <div class="stats">
    <div class="statTable">
      <h3>Statistics</h3>
      <h5>Statistics about the team</h5>
      <div class="row champ">
        <div class="col">Total Constructors Championships</div>
        <div class="col">
          <span>2 (Renault F1 Team)</span
          ><span
            ><img
              src="../../../assets/down-arrow-svgrepo-com.svg"
              alt="more info"
              (click)="openCInfo()"
          /></span>
          <div class="CInfoBox" [class.visib]="isvisib_C">
            <p>2005, 2006</p>
          </div>
        </div>
      </div>
      <div class="row driverchamps">
        <div class="col">Total Drivers Championships</div>
        <div class="col DInfo">
          <span>2 (Renault F1 Team)</span
          ><span
            ><img
              src="../../../assets/down-arrow-svgrepo-com.svg"
              alt="more info"
              (click)="openDInfo()"
          /></span>
          <div class="DInfoBox" [class.visib]="isvisib_D">
            <p><em> Fernando Alonso</em> <b> X2</b>(2005, 2006)</p>
          </div>
        </div>
      </div>
      <div class="row wins">
        <div class="col">Total Race Wins</div>
        <div class="col">35 (Renault F1 Team)</div>
      </div>
      <div class="row founded">
        <div class="col">Team Founded</div>
        <div class="col">1986</div>
      </div>
      <div class="row PrevTeam">
        <div class="col">Previously Known As</div>
        <div class="col">Renault F1 Team</div>
      </div>
    </div>
  </div>
  <div class="reachout">
    <div class="reachoutLinks">
      <div class="reachTitle RO">
        <h3>Reach out to Alpine</h3>
      </div>
      <div class="links RO">
        <a href="https://www.instagram.com/alpinef1team/?hl=en" target="_blank"
          ><img src="../../../assets/instagram-1-svgrepo-com.svg" alt="insta"
        /></a>
        <a href="https://twitter.com/AlpineF1Team" target="_blank"
          ><img
            src="../../../assets/twitter-color-svgrepo-com.svg"
            alt="twitter"
        /></a>
        <a href="https://www.facebook.com/AlpineF1Team/" target="_blank"
          ><img src="../../../assets/facebook-color-svgrepo-com.svg" alt="fb"
        /></a>
        <a
          href="https://www.alpine-cars.co.uk/formula-1/f1-team.html"
          target="_blank"
          ><img
            src="../../../assets/f1_2021_alpine_logo.png"
            alt="website"
            class="cavalino"
        /></a>
      </div>
    </div>
  </div>
</div>
