<div class="teamPage">
  <div class="teamName row">
    <div class="teamLogo col-2">
      <img src="../../../assets/williamslogo - Copy.jpg" alt="Williams logo" />
    </div>
    <div class="name col-9">
      <h1>Williams Racing</h1>
    </div>
  </div>
  <div class="mainTeam">
    <div class="team_det">
      <h3>Team</h3>
      <p>Meet the team.</p>
      <div class="teamPrincipal">
        <h4>Team Principal</h4>
        <div class="team_img">
          <img
            src="../../../assets/James-Vowels - Copy.jpeg"
            alt="James Vowels"
          />
        </div>
        <p>James Vowels</p>
      </div>
      <div class="teamDrivers row">
        <h4>Drivers</h4>
        <div class="dr1 col">
          <div class="team_img dr1_img">
            <img src="../../../assets/f1_2023_aa_wil_lg.png" alt="Ocon" />
          </div>
          <p>Alex Albon</p>
        </div>
        <div class="dr2 col">
          <div class="team_img dr2_img">
            <img src="../../../assets/f1_2023_ls_wil_lg.png" alt="Gasly" />
          </div>
          <p>Logan Sargent</p>
        </div>
      </div>
    </div>
  </div>
  <div class="backgroundInfo">
    <div class="info">
      <h3>Background Information</h3>
      <h5>
        Although the current Williams team started life back in 1977, its roots
        date back to the 1960s, when Frank Williams created Frank Williams
        Racing Cars. The squad failed to achieve much success, even after
        Canadian millionaire Walter Wolf entered the scene in 1976, leading to
        the outfit being rebranded as Wolf-Williams Racing. Wolf opted to rename
        the team Walter Wolf Racing and remove Williams from his role as
        manager. This allowed Frank to move to Didcot and rebuild his team as
        Williams Grand Prix Engineering. Patrick Head co-founded the squad, and
        worked as Technical Director until 2004.
      </h5>
      <p>
        Williams entered a custom March 761 for the 1977 season, with Patrick
        Neve driving the team's lone entry starting from the Spanish Grand Prix.
        The Belgian driver failed to score a point, his best finish being
        seventh in Italy.
      </p>
      <p>
        Jones was joined by Clay Regazzoni as Williams opted to field two cars
        in 1979. The Swiss driver almost claimed the outfit's debut win in
        Monaco, but finished less than a second behind race winner Jody
        Scheckter. That elusive first victory finally came at Williams' home
        race, the British Grand Prix, with Regazzoni finishing 25 seconds clear
        of the field.
      </p>
      <p>
        Jones and Reutemann scored four wins between them in the following year
        and, while both drivers finished behind champion Piquet in the Drivers'
        standings, Williams took the Constructors' Championship over Brabham.
        Jones retired in 1982, and was replaced by Keke Rosberg who had failed
        to score a point the previous year. Nevertheless, the Finn claimed the
        title despite only winning one race that season in Switzerland.
      </p>
      <p>
        Williams continued to use Ford power except for the final race in South
        Africa in 1983, and the full-time switch to Honda the following year
        proved unsuccessful. Rosberg won the Dallas Grand Prix with the FW09,
        but the team finished the year sixth with 25.5 points. Now running with
        the yellow, blue and white Canon livery that stayed with the team until
        1993, Head designed the FW10 in 1985 that used the carbon-fibre
        composite technology that McLaren pioneered. Nigel Mansell partnered
        Rosberg, with both drivers winning two races each to help Williams to
        finish third in the Constructors' Championship.
      </p>
      <p>
        Piquet secured Williams-Honda's only Drivers' Championship the following
        year in 1987, with the Brazilian winning three races and finishing 15
        points ahead of teammate Mansell in the standings. Although Williams
        took another Constructors' title, Honda opted to end their partnership
        in favour of a return to McLaren, as well as continuing with Lotus.
      </p>
      <p>
        Mansell won the first five races of the 1992 season and didn't look back
        from there, as the Williams FW14B proved to be too much for the rest of
        the grid. He finished the year with nine victories, becoming the first
        driver to achieve this in a single F1 season, while also becoming the
        first Briton to win the championship since James Hunt in 1976. Teammate
        Patrese finished second in the standings, a full 52 points back.
      </p>
      <p>
        The Williams FW15C proved to be a class above, thanks to active
        suspension and traction control systems that were beyond what other
        teams had. Prost won his debut race for the team in South Africa,
        finishing a minute ahead of Senna. The Frenchman took victory in seven
        of the opening 10 races, while Hill won the other three, though Williams
        failed to win any of the final six races. As a result, Prost clinched
        the title by 26 points over Senna, who overtook Hill in the standings,
        whilst Williams cruised to an easy Constructors' title.
      </p>
      <p>
        Prost's veto powers on the other Williams seat were only valid for the
        1993 season, and as a result Senna was signed for 1994. Soon after the
        news, the Frenchman announced his retirement from motorsport.Senna took
        pole at the opening two races, but failed to finish either of them, with
        Schumacher winning both. The season took on a different dynamic at Round
        3 in San Marino, as the Brazilian took pole once again but was involved
        in a fatal crash on Lap 6. At the following race in Monaco, the team ran
        one car as a mark of respect to Senna.
      </p>
      <p>
        Coulthard became Hill's full-time teammate in 1995, but Williams were
        not able to match the Benetton-Renault pairing. Schumacher won nine of
        the 17 races, and took the championship by 33 points over Hill. While
        the two Williams drivers finished the year second and third in the
        standings with a combined five wins, it wasn't enough to deny Benetton
        the Constructors' Championship. While the German would only win one race
        during his two seasons with Williams, Villeneuve battled it out with
        Schumacher - now at Ferrari - for the 1997 title. Williams claimed their
        100th win at the British Grand Prix, but Schumacher entered the final
        race of the season in Jerez with a one-point lead on Villeneuve. The two
        drivers collided on Lap 48, with the FIA later deeming the incident
        avoidable and disqualifying Schumacher from the championship, while
        Williams took a third consecutive Constructors' Championship.
      </p>
    </div>
  </div>
  <div class="stats">
    <div class="statTable">
      <h3>Statistics</h3>
      <h5>Statistics about the team</h5>
      <div class="row champ">
        <div class="col">Total Constructors Championships</div>
        <div class="col">
          <span>9</span
          ><span
            ><img
              src="../../../assets/down-arrow-svgrepo-com.svg"
              alt="more info"
              (click)="openCInfo()"
          /></span>
          <div class="CInfoBox" [class.visib]="isvisib_C">
            <p>2005, 2006</p>
          </div>
        </div>
      </div>
      <div class="row driverchamps">
        <div class="col">Total Drivers Championships</div>
        <div class="col DInfo">
          <span>7</span
          ><span
            ><img
              src="../../../assets/down-arrow-svgrepo-com.svg"
              alt="more info"
              (click)="openDInfo()"
          /></span>
          <div class="DInfoBox" [class.visib]="isvisib_D">
            <p>
              <em> Alan Jones</em> <b> X1</b> 1980, <em> Keke Rosberg</em>
              <b> X1</b> 1982, <em> Nelson Piquet</em> <b> X1</b> 1987
              <em> Nigel Mansell</em> <b> X1</b> 1992, <em> Alain Prost</em>
              <b> X1</b> 1993, <em> Damon Hill</em> <b> X1</b> 1996,
              <em> Jacques Villeneuve</em> <b> X1</b> 1997
            </p>
          </div>
        </div>
      </div>
      <div class="row wins">
        <div class="col">Total Race Wins</div>
        <div class="col">114</div>
      </div>
      <div class="row founded">
        <div class="col">Team Founded</div>
        <div class="col">1978</div>
      </div>
      <div class="row PrevTeam">
        <div class="col">Previously Known As</div>
        <div class="col">-</div>
      </div>
    </div>
  </div>
  <div class="reachout">
    <div class="reachoutLinks">
      <div class="reachTitle RO">
        <h3>Reach out to Williams</h3>
      </div>
      <div class="links RO">
        <a href="https://www.instagram.com/williamsracing/" target="_blank"
          ><img src="../../../assets/instagram-1-svgrepo-com.svg" alt="insta"
        /></a>
        <a href="https://twitter.com/williamsracing" target="_blank"
          ><img
            src="../../../assets/twitter-color-svgrepo-com.svg"
            alt="twitter"
        /></a>
        <a href="https://www.facebook.com/WilliamsF1Team/" target="_blank"
          ><img src="../../../assets/facebook-color-svgrepo-com.svg" alt="fb"
        /></a>
        <a href="https://www.williamsf1.com/" target="_blank"
          ><img
            src="../../../assets/f1_2021_williams_logo.png"
            alt="website"
            class="cavalino"
        /></a>
      </div>
    </div>
  </div>
</div>
